
table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
